/* font-family: 'Raleway', sans-serif; *


 /* Para hacer cambio en scroll */
 html {
     scroll-behavior: smooth;
 }


body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

/* logo */
#mundo {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    width: 25px;
}

.navbar {
    *background-color: aqua;
    position: fixed;
    width: 100vw;
    /* que abarque todo el ancho */
    z-index: 1;
    color: #fff;
}




/* sección carrusel */
#carrusel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    position: relative;
}



/* sección Quienes somos */
#Quienes-somos {
    text-align: justify;
}

#Quienes-somos h1 {
    font-family:'Raleway', sans-serif;
    font-size: 30px;
}



/* destacados */
#Destacados h1 {
    font-size: 30px;
}

.card-body {
    font-size: 10px; 
    color: #fff;
}

.card-body .card-title {
    font-size: 14px;
    font-weight: bold;
}



/* contacto */
#Contacto h1 {
    font-size: 30px;
}

.datos {
    font-size: 20px;
    color: #fff;
    text-align: left;
}

.boton {
    text-align: start;
}



/* footer */

#footer .h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

